:root {
  --font-color: #333e49;
  --theme-color: #dc0303;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: var(--font-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home {
  background-image: url(../../asset/form-bg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  min-height: 100vh;
}

.home-nav {
  padding: 50px 100px 0 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-nav__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: white;
}

.home-nav__header a {
  color: white;
  text-decoration: none;
}
.home-nav__header a:hover {
  text-decoration: underline;
}

.home-nav__header img {
  margin-left: 20px;
  width: 150px;
}

.form-svg {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}
.form-svg::before {
  margin-right: 7px;
  content: url(../../asset/form.svg);
}

.home-nav__description {
  padding: 40px 0px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-nav__description h5 {
  font-size: 0.75rem;
  width: fit-content;
  background-color: #f6f6f6;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 0;
  color: #636d77;
}

.home-nav__description p {
  color: white;
  line-height: 1.5;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.95rem;
  width: 900px;
}

.home-form-nav {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  justify-content: space-evenly;
}

.home-form-nav__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.home-form-nav .underline {
  height: 2px;
  background-color: var(--theme-color);
  position: absolute;
  left: 0;
  top: 0px;
}

.home-form-nav span {
  align-items: center;
  color: #b5b8bc;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  transition: 0.15s ease-out 0.1s;
  cursor: default;
  position: relative;

  padding: 30px 0 20px 0;
}
.home-form-nav span.active {
  color: var(--theme-color);
  pointer-events: none;
}

.home-form-nav span.clickable {
  cursor: pointer;
  position: relative;
  color: #1eba45;
}
.home-form-nav span.clickable::before {
  content: "";
  background-image: url("../../asset/check.svg");
  background-size: cover;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;

  top: 15%;
  transform: translateX(-50%);
}

.home-form-nav span:last-child {
  margin-right: 0;
}

/* Input fields */
.home-form-container {
  overflow-x: scroll;
  height: fit-content;
  width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-form-content {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.home-form-content .content {
  background-color: white;
  padding: 80px 80px 50px;

  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  width: 900px;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 8%);
  border-top: none;
}

.home-form-content .content .final-message {
  grid-column: span 2;
  font-size: 1rem;
  line-height: 1.7;
  margin: 0;
}

.home-form-content .content > .--span-2,
.home-form-content .content > :last-child {
  grid-column: span 2;
}

.home-form-content .input-container {
  font-size: 1.3rem;
  color: black;
  position: relative;
  width: 100%;
}

.home-form-content .input-container select {
  margin-right: 40px;

  /* Arrow */
  appearance: none;
  background-image: url("../../asset/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 70%;
  background-size: 0.65rem auto;
}

datalist {
  /* Arrow */
  appearance: none;
  background-image: url("../../asset/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 70%;
  background-size: 0.65rem auto;
}

input::-webkit-calendar-picker-indicator {
  opacity: 100;
  margin-bottom: 20px;
  position: absolute;
  right: 3px;
}

.home-form-content .input-container span {
  position: absolute;
  color: rgb(143, 143, 143);
  transition: 0.3s;
  font-size: 1rem;
  top: 50%;
  transform: translateY(-30%);
  pointer-events: none;
}

.home-form-content .input-container span::after {
  content: "*";
  margin-left: 2px;
  color: red;
}

.home-form-content .input-container .input-container__input:focus-within ~ span,
.home-form-content .input-container span.active {
  font-size: 0.7rem;
  transform: translateY(-20px);
}

.home-form-content .input-container.--textarea {
  grid-column: span 2;
}
.home-form-content .input-container.--textarea .input-container__input {
  padding-top: 30px;
  height: 250px;
  resize: none;
}
.home-form-content .input-container.--textarea span {
  top: 30px;
}

.home-form-content
  .input-container.--textarea
  .input-container__input:focus-within
  ~ span,
.home-form-content .input-container.--textarea span.active {
  transform: translateY(-15px);
}

.home-form-content .input-container .input-container__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 46px;
  padding: 20px 20px 0px 0px;
  color: #1a1a1a;
  font-size: 16px;
  line-height: 1.5;
  /* background: #fff; */

  /* border-radius: 8px; */

  outline: none;
  border: 0;
  border-bottom: 1px solid #d0d0d0;
}
.home-form-content .input-container .input-container__input:focus-within {
  /* outline-color: #f24444; */
  border-bottom: 1px solid #f24444;
}

.home-form-content .content button {
  cursor: pointer;
  outline: 0;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color);
  border: none;

  margin-top: 30px;
}

.input-container .error-message {
  position: absolute;
  top: calc(100% + 10px);
  color: #f1493d;
  display: flex;

  align-items: center;
}
.input-container .error-message p {
  font-size: 0.7rem;
  margin: 0;
}
.input-container .error-message::first-letter {
  text-transform: capitalize;
}

.input-container .error-message img {
  width: 15px;
  margin-right: 5px;
}

.home-form-content .content.--confirmation-page {
  display: block;
}

.confirmation-content-container h5 {
  font-size: 17px;
  color: var(--theme-color);
  display: flex;
  justify-content: space-between;
}
.confirmation-content-container img {
  width: 30px;
  padding: 4px;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.confirmation-content-container img:hover {
  transform: translateY(-2px);
}

.confirmation-content-container h5:last-of-type {
  margin-top: 60px;
}

.confirmation-content-container div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.confirmation-content-container div span {
  max-width: 400px;
  word-wrap: break-word;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 5 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .home-nav__description p {
    width: 95%;
  }
  .home-form-container {
    width: 95%;
  }
  .home-form-content .content {
    width: 100%;
  }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .home-nav__header img {
    width: 100px;
  }
  .home-nav {
    padding: 40px 40px 0 40px;
  }

  .home-form-content .content {
    padding: 40px 40px 10px;
  }
  .home-form-nav {
    background-color: whitesmoke;
    border-bottom: none;
  }
  .home-form-content .input-container .input-container__input {
    font-size: 12px;
  }
  .home-form-content .input-container span {
    font-size: 12px;
  }
  .home-form-nav span {
    font-size: 10px;
  }
  .home-form-content .content button {
    font-size: 12px;
  }
  .home-nav__description p {
    font-size: 13px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .confirmation-content-container h5:last-of-type {
    margin-top: 0px;
    font-size: 14px;
  }
  .confirmation-content-container {
    margin-bottom: 50px;
  }
  .home {
    background-position: center;
    background-size: contain;
  }
  .input-container .error-message {
    top: calc(100% + 5px);
  }
  .home-nav__description p {
    width: 100%;
  }

  .home-form-nav span {
    max-width: 60px;
  }

  .home-form-content .content > :nth-last-child(2),
  .home-form-content .content > :last-child {
    grid-column: unset;
  }
  .home-form-content .content {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 30px 20px 10px;
  }
  .home-nav {
    padding: 30px 20px 0 20px;
  }
  .home-nav__description p {
    font-size: 12px;
  }
  .home-nav__description {
    padding: 30px 0;
  }

  .confirmation-content-container h5 {
    font-size: 13px;
    margin-top: 0;
  }
  .confirmation-content-container img {
    width: 25px;
  }
  .confirmation-content-container div {
    font-size: 12px;
  }

  .home-nav__header a {
    font-size: 13px;
  }
  .form-svg {
    font-size: 13px;
  }
  .home-nav__header img {
    width: 70px;
  }
  .form-svg::before {
    transform: scale(0.7) translate(3px, -5px);
  }

  .home-form-content .input-container.--textarea .input-container__input {
    padding-top: 50px;
  }

  .home-form-content .content button {
    margin-top: 30px;
  }
  .home-form-content .content .final-message {
    font-size: 0.7rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (max-width: 1400px) {
}
